h1 {
    font-size: 40px;
    color: white;
    background-color: darkred;
    border-style: solid;
    border-color: red;
    /* cor da borda */
    border-width: 5px;
    font-family: sans-serif;
    text-align: center;
    /* centralizar */
    border-radius: 10px;
    /* arredondar borda */
    padding: 10px;
    /* margem interna */
}

h4 {
    font-size: 20px;
    color: white;
    background-color: rgb(80, 70, 70);
    border-style: solid;
    border-color: red;
    border-width: 2px;
    font-family: sans-serif;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}

/* Menu Horizontal */

#menu ul {
    padding: 10px;
    margin: 0;
    background-color: #2b1010;
    list-style: none;
    /* tirar as bolinhas da lista (none)  */

}

#menu ul li {
    display: inline;
}

#menu ul li a {
    padding: 10px 30px;
    /* text-decoration - tirar toda decoração do texto */
    text-decoration: none;
    background-color: #ededed;
    display: inline-block;
    /* display é tela - faz o link se comportar como caixinha, mas fica na mesma linha */
    border-bottom: 3px solid #ededed;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    border-radius: 5px;
    margin: 0 50px;

}

#menu ul li a:hover {
    background-color:  #fda1a1;
    color: #2d19e2;
    border-bottom: 3px solid #ea0000;
}

/*  Menu Vertical */

/* Selecionar o ul que estiver dentro do elemento id menuv */
#menuv ul{
    /* remove as bolinhas / marcadores padrao da lista*/
    list-style-type: none;
    /* Zera a margem esquerda */
    margin-left: 0;
    /* espaço interno do ul: 20px em cima/baixo e 50px nas laterais */
    padding: 20px 50px;
    /* largura fixa da area do menu */
    width: 150px;
    background-color: #2b1010;
}

/* Seleciona os links <a> dentro de cada <li> daquele <ul> do #menuv */
#menuv ul li a{
    /* faz cada link virar um bloco (ocupa a linha inteira do menu) */
    /* isso é que deixa os ites empilhados verticalmente e toda linha clicavel */
    display: block;
    /* cada <a> vai virar um bloco */
    padding: 10px 40px;
    background-color: #ededed;
    color: #333;
    text-decoration: none;
    text-align: center;
    border-bottom: 3px solid #ededed;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    border-radius: 5px;
    margin: 2px 0px;
}

#menuv ul li a:hover{
    background-color: #fda1a1;
    color: #2d19e2;
    border-bottom: 3px solid #ea0000;

}